@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--View Model-->
@model EmployeeDetailsViewModel

<h2>@Model.FullEmployeeName</h2>
<ul>
    <li>Employee ID: @Model.EmployeeId</li>
    <li>First Name: @Model.FirstName</li>
    <li>Last Name: @Model.LastName</li>
    <li>Full Name: @Model.FullEmployeeName</li>
    <li>Position: @Model.Position</li>
    <li>To Be: @Model.ToBePositioned</li>
    <li>Date of Hire: @Model.DateOfHire</li>
    <li>Salary: @Model.Salary</li>
    <li>Division ID: @Model.DivisionId</li>
    <li>Division Name: @Model.DivisionName</li>
</ul>




